<div class="call">
  <div class="call-box-top">
    <!--{{ if .site.Data.contact.phone }}
        <div class="call-phone"><strong>Phone: </strong> {{ .site.Data.contact.phone }} </div>
    {{ end }}
    {{ if .site.Data.contact.email }}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.Data.contact.email }}">
        {{ .site.Data.contact.email }}
      </a>
    </div>
    {{ end }}-->
    <a href="tel:+33481133327" class="button"><i class="fa fa-phone fa-lg" aria-hidden="true"></i> 04 81 13 33 27</a>
    <a href="https://www.oxxodata.com/contact/" class="button"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> Contactez-nous</a>
  </div>
      <div class="call-box-bottom">
      </div>
</div>
