<div class="call">
  <div class="call-box-top">
    <!--{{ if .site.Data.contact.phone }}
        <div class="call-phone"><strong>Phone: </strong> {{ .site.Data.contact.phone }} </div>
    {{ end }}
    {{ if .site.Data.contact.email }}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.Data.contact.email }}">
        {{ .site.Data.contact.email }}
      </a>
    </div>
    {{ end }}-->
    <input class="email-input" placeholder="Email"></input>
  </div>
    {{ if eq .show_button "true" }}
      <div class="call-box-bottom">
        <a href="{{ .site.Data.contact.contact_button_link | relURL }}" class="button">S'inscrire</a>
      </div>
    {{ end }}
</div>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/6874ec4c22de7f48bdaf995ff/e640b49cd04f8230ca4d9a7e7.js");</script>
